Node-Red-Export_Flow/flows.json
[{"id":"d1f5bd3a265e8adf","type":"tab","label":"Projeto","disabled":false,"info":"","env":[]},{"id":"2b08bafcae7c2b95","type":"debug","z":"d1f5bd3a265e8adf","d":true,"name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":140,"y":60,"wires":[]},{"id":"d5e20af077813b85","type":"mqtt in","z":"d1f5bd3a265e8adf","name":"","topic":"guedes/alerta_incendio","qos":"2","datatype":"auto-detect","broker":"4c071d7010254d19","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":120,"wires":[["2b08bafcae7c2b95","be39117c1186dbd6","fd808e352fcb11ee","e41d9eb8798bceaf","bcf9a0f6a144d1e2","83a74d6b261dbb71","1aa3a413691a143e"]]},{"id":"f49a4f4cb291c879","type":"ui_gauge","z":"d1f5bd3a265e8adf","name":"Hum","group":"4e7423682f55c286","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":550,"y":20,"wires":[]},{"id":"0defb7cb1a88e8a0","type":"ui_gauge","z":"d1f5bd3a265e8adf","name":"Temp","group":"4e7423682f55c286","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"º C","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":550,"y":80,"wires":[]},{"id":"b4178b39079abb57","type":"ui_gauge","z":"d1f5bd3a265e8adf","name":"Gas","group":"4e7423682f55c286","order":4,"width":0,"height":0,"gtype":"gage","title":"Gas","label":"ppM","format":"{{value}}","min":"843","max":"4200","colors":["#00b500","#fc9403","#ca3838"],"seg1":"1563","seg2":"1564","diff":false,"className":"","x":550,"y":140,"wires":[]},{"id":"f045e43357c90cb8","type":"ui_text","z":"d1f5bd3a265e8adf","group":"4e7423682f55c286","order":1,"width":0,"height":0,"name":"Alerta:","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":550,"y":200,"wires":[]},{"id":"be39117c1186dbd6","type":"function","z":"d1f5bd3a265e8adf","name":"Hum","func":"msg.payload = msg.payload.humidade;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":20,"wires":[["f49a4f4cb291c879"]]},{"id":"fd808e352fcb11ee","type":"function","z":"d1f5bd3a265e8adf","name":"Temp","func":"msg.payload = msg.payload.temperatura;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":80,"wires":[["0defb7cb1a88e8a0"]]},{"id":"e41d9eb8798bceaf","type":"function","z":"d1f5bd3a265e8adf","name":"Gás","func":"msg.payload = msg.payload.ppm;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["b4178b39079abb57"]]},{"id":"bcf9a0f6a144d1e2","type":"function","z":"d1f5bd3a265e8adf","name":"Alerta","func":"msg.payload = msg.payload.alerta ? \"🚨 Alerta de Incêndio!\" : \"✅ Tudo normal\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":200,"wires":[["f045e43357c90cb8"]]},{"id":"4a93a2ff5d4b75fa","type":"mqtt in","z":"d1f5bd3a265e8adf","name":"","topic":"owntracks/batata/+","qos":"2","datatype":"auto-detect","broker":"4c071d7010254d19","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":60,"wires":[["58d5ba1b52bb03d9","9cfd9dc2323040e4"]]},{"id":"0fd2334bf4e6aaa8","type":"ui_worldmap","z":"d1f5bd3a265e8adf","group":"159851649ec99aa5","order":1,"width":"0","height":"0","name":"Map","lat":"41.795586849054565","lon":"-6.768762136229431","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":770,"y":300,"wires":[]},{"id":"58d5ba1b52bb03d9","type":"function","z":"d1f5bd3a265e8adf","name":"MAP","func":"var dados = msg.payload;\nif (dados._type === \"location\") {\n    var id = msg.topic.split(\"/\")[2]; // Pode ter 2 valores\n    var localizacoes = flow.get(\"localizacoes\") || {};\n    localizacoes[id] = { lat: dados.lat, lon: dados.lon };\n    flow.set(\"localizacoes\", localizacoes);\n}\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":40,"wires":[[]]},{"id":"9cfd9dc2323040e4","type":"debug","z":"d1f5bd3a265e8adf","d":true,"name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":80,"wires":[]},{"id":"83a74d6b261dbb71","type":"function","z":"d1f5bd3a265e8adf","name":"Mapa_Guedes","func":"var dados = msg.payload;\nvar alerta = String(dados.alerta).toLowerCase() === \"true\";\nvar localizacoes = flow.get(\"localizacoes\") || {};\nvar loc = localizacoes[\"guedes\"] || { lat: 0, lon: 0 };\n\nif (alerta) {\n    msg.payload = {\n        name: \"incendio-guedes_Zona1\",\n        lat: loc.lat,\n        lon: loc.lon,\n        icon: \"fa-fire\",\n        layer: \"incendios\"\n    };\n} else {\n    msg.payload = {\n        name: \"incendio-guedes_Zona1\",\n        deleted: true,\n        layer: \"incendios\"\n    };\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":240,"wires":[["c475c0d5929d59be","0fd2334bf4e6aaa8"]]},{"id":"2f78a701d0b16a01","type":"function","z":"d1f5bd3a265e8adf","name":"Mapa_Nelson","func":"var dados = msg.payload;\nvar alerta = String(dados.alerta).toLowerCase() === \"true\";\nvar localizacoes = flow.get(\"localizacoes\") || {};\nvar loc = localizacoes[\"nelson\"] || { lat: 0, lon: 0 };\n\nif (alerta) {\n    msg.payload = {\n        name: \"incendio-nelson_Zona2\",\n        lat: loc.lat,\n        lon: loc.lon,\n        icon: \"fa-fire\",\n        layer: \"incendios\"\n    };\n} else {\n    msg.payload = {\n        name: \"incendio-nelson_Zona2\",\n        deleted: true,\n        layer: \"incendios\"\n    };\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":300,"wires":[["0fd2334bf4e6aaa8"]]},{"id":"003733268469a22a","type":"mqtt in","z":"d1f5bd3a265e8adf","name":"","topic":"nelson/alerta_incendio","qos":"2","datatype":"auto-detect","broker":"4c071d7010254d19","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":360,"wires":[["3169abfcb9dfa3e2","2362548e958ad0c2","4bcd5606d9f6d022","bc4c8a915c477333","2f78a701d0b16a01","4ef7ea9d50993b11","3548d2d0ecd5ade9"]]},{"id":"3169abfcb9dfa3e2","type":"function","z":"d1f5bd3a265e8adf","name":"Hum","func":"msg.payload = msg.payload.humidade;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":340,"wires":[["cecf671fb4c83a82"]]},{"id":"2362548e958ad0c2","type":"function","z":"d1f5bd3a265e8adf","name":"Temp","func":"msg.payload = msg.payload.temperatura;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":400,"wires":[["b736fe64d31e48f6"]]},{"id":"4bcd5606d9f6d022","type":"function","z":"d1f5bd3a265e8adf","name":"Gás","func":"msg.payload = msg.payload.ppm;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":460,"wires":[["cdd2612eee71f3d3"]]},{"id":"bc4c8a915c477333","type":"function","z":"d1f5bd3a265e8adf","name":"Alerta","func":"msg.payload = msg.payload.alerta ? \"🚨 Alerta de Incêndio!\" : \"✅ Tudo normal\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":520,"wires":[["f61b96cfa23a0335"]]},{"id":"cecf671fb4c83a82","type":"ui_gauge","z":"d1f5bd3a265e8adf","name":"Hum","group":"babfdf2ecc0584d7","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":490,"y":340,"wires":[]},{"id":"b736fe64d31e48f6","type":"ui_gauge","z":"d1f5bd3a265e8adf","name":"Temp","group":"babfdf2ecc0584d7","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"º C","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":490,"y":400,"wires":[]},{"id":"cdd2612eee71f3d3","type":"ui_gauge","z":"d1f5bd3a265e8adf","name":"Gas","group":"babfdf2ecc0584d7","order":4,"width":0,"height":0,"gtype":"gage","title":"Gas","label":"ppM","format":"{{value}}","min":"843","max":"4200","colors":["#00b500","#e66f00","#ca3838"],"seg1":"1563","seg2":"1564","diff":false,"className":"","x":490,"y":460,"wires":[]},{"id":"f61b96cfa23a0335","type":"ui_text","z":"d1f5bd3a265e8adf","group":"babfdf2ecc0584d7","order":1,"width":0,"height":0,"name":"Alerta:","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":490,"y":520,"wires":[]},{"id":"0997244272b17ca2","type":"http request","z":"d1f5bd3a265e8adf","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.fogos.pt/new/fires","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":290,"y":620,"wires":[["7df9ca4043428ee7","cade4bf1d8be3102"]]},{"id":"2802cc5b4dbd4e49","type":"function","z":"d1f5bd3a265e8adf","name":"Mapa_API","func":"var dados = msg.payload;\nvar markers = [];\n\nif (dados.success && Array.isArray(dados.data)) {\n    for (var i = 0; i < dados.data.length; i++) {\n        var fire = dados.data[i];\n        if (fire.active && fire.lat && fire.lng) {\n            var icon = \"fa-question\";\n            var color = \"gray\";\n\n            switch (fire.status) {\n                case \"Início\":\n                case \"Despacho de 1º Alerta\":\n                case \"Chegada ao TO\":\n                case \"Despacho\":\n                    icon = \"fa-fire\";\n                    color = \"orange\";\n                    break;\n                case \"Em Curso\":\n                    icon = \"fa-fire\";\n                    color = \"red\";\n                    break;\n                case \"Conclusão\":\n                case \"Vigilância\":\n                case \"Em Resolução\":\n                    icon = \"fa-fire-extinguisher\";\n                    color = \"green\";\n                    break;\n            }\n\n            markers.push({\n                name: \"incendio-\" + fire.id,\n                local: fire.location,\n                lat: fire.lat,\n                lon: fire.lng,\n                icon: icon,\n                iconColor: color,\n                layer: \"incendios\"\n            });\n        }\n    }\n}\n\nmsg.payload = markers;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":560,"wires":[["0fd2334bf4e6aaa8"]]},{"id":"4ef7ea9d50993b11","type":"debug","z":"d1f5bd3a265e8adf","d":true,"name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":100,"y":300,"wires":[]},{"id":"3d0e0759c50e5f80","type":"debug","z":"d1f5bd3a265e8adf","d":true,"name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":620,"wires":[]},{"id":"d79ee130214b1b9b","type":"inject","z":"d1f5bd3a265e8adf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":620,"wires":[["0997244272b17ca2"]]},{"id":"7df9ca4043428ee7","type":"json","z":"d1f5bd3a265e8adf","name":"","property":"payload","action":"","pretty":false,"x":450,"y":620,"wires":[["2802cc5b4dbd4e49","3d0e0759c50e5f80","228e7bb0a52f55b8","d08bb5d436e924ce","c252c6cc35fece74","72a581770c6271aa"]]},{"id":"c475c0d5929d59be","type":"debug","z":"d1f5bd3a265e8adf","d":true,"name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":240,"wires":[]},{"id":"3d77869265a5d4a1","type":"inject","z":"d1f5bd3a265e8adf","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["83a74d6b261dbb71"]]},{"id":"25b9d4e564508d8c","type":"ui_audio","z":"d1f5bd3a265e8adf","name":"","group":"159851649ec99aa5","voice":"Microsoft Helia - Portuguese (Portugal)","always":"","x":860,"y":900,"wires":[]},{"id":"4efd75e5630e3ecd","type":"ui_text","z":"d1f5bd3a265e8adf","group":"300a85f6c55d70ef","order":1,"width":"0","height":"0","name":"Bombeiros","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":870,"y":680,"wires":[],"icon":"font-awesome/fa-fire"},{"id":"8358fb24a4bfba81","type":"ui_text","z":"d1f5bd3a265e8adf","group":"de78f6225048cf0a","order":1,"width":0,"height":0,"name":"Terrestres","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":880,"y":740,"wires":[],"icon":"font-awesome/fa-car"},{"id":"85e7989d71a8f9e8","type":"ui_text","z":"d1f5bd3a265e8adf","group":"7ab8f2acb5e9880a","order":2,"width":0,"height":0,"name":"Aerios","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":890,"y":800,"wires":[],"icon":"font-awesome/fa-fighter-jet"},{"id":"228e7bb0a52f55b8","type":"function","z":"d1f5bd3a265e8adf","name":"Soma_Bombeiros","func":"var dados = msg.payload;\nvar totalBombeiros = 0;\n\nif (dados.success && Array.isArray(dados.data)) {\n    for (var i = 0; i < dados.data.length; i++) {\n        var fire = dados.data[i];\n        if (fire.active) {\n            totalBombeiros += fire.man || 0;\n        }\n    }\n}\nmsg.measurement = \"Bombeiros\",\nmsg.payload = totalBombeiros;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":680,"wires":[["4efd75e5630e3ecd","84e311282cd36734"]]},{"id":"d08bb5d436e924ce","type":"function","z":"d1f5bd3a265e8adf","name":"Soma_Terrestres","func":"var dados = msg.payload;\nvar totalTerrestre = 0;\n\nif (dados.success && Array.isArray(dados.data)) {\n    for (var i = 0; i < dados.data.length; i++) {\n        var fire = dados.data[i];\n        if (fire.active) {\n            totalTerrestre += fire.terrain || 0;\n        }\n    }\n}\nmsg.measurement = \"Meios_Terrestes\";\nmsg.payload = totalTerrestre;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":740,"wires":[["8358fb24a4bfba81","84e311282cd36734"]]},{"id":"c252c6cc35fece74","type":"function","z":"d1f5bd3a265e8adf","name":"Soma_Aerios","func":"var dados = msg.payload;\nvar totalAereo = 0;\n\nif (dados.success && Array.isArray(dados.data)) {\n    for (var i = 0; i < dados.data.length; i++) {\n        var fire = dados.data[i];\n        if (fire.active) {\n            totalAereo += fire.aerial || 0;\n        }\n    }\n}\nmsg.measurement = \"Total_Aerio\";\nmsg.payload = totalAereo;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":800,"wires":[["85e7989d71a8f9e8","84e311282cd36734"]]},{"id":"692b7a47a8b33b1f","type":"ui_toast","z":"d1f5bd3a265e8adf","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":870,"y":860,"wires":[[]]},{"id":"1aa3a413691a143e","type":"function","z":"d1f5bd3a265e8adf","name":"Zona_1","func":"msg.measurement = \"Zona1\",\nmsg.payload = \n  {\n      temperatura: msg.payload.temperatura,\n      humidade: msg.payload.humidade,\n      ppm: msg.payload.ppm\n  };\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["84e311282cd36734"]]},{"id":"84e311282cd36734","type":"influxdb out","z":"d1f5bd3a265e8adf","influxdb":"2a64bff725e86127","name":"Projeto","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"IPB","bucket":"Projeto","x":1060,"y":400,"wires":[]},{"id":"3548d2d0ecd5ade9","type":"function","z":"d1f5bd3a265e8adf","name":"Zona_2","func":"msg.measurement = \"Zona2\",\nmsg.payload = \n  {\n      temperatura: msg.payload.temperatura,\n      humidade: msg.payload.humidade,\n      ppm: msg.payload.ppm\n  };\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":420,"wires":[["84e311282cd36734"]]},{"id":"29a48b56b8cfe43a","type":"ui_template","z":"d1f5bd3a265e8adf","group":"300a85f6c55d70ef","name":"Img. Bombeiros","order":2,"width":0,"height":0,"format":"<html>\n\n<body>\n    <img src=\"https://bomdia.eu/suica/wp-content/uploads/sites/3/2022/07/bombeiros.jpg\" style=\"max-width:400px;\" />\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1040,"y":680,"wires":[[]]},{"id":"5f8d6826408ed0b9","type":"ui_template","z":"d1f5bd3a265e8adf","group":"de78f6225048cf0a","name":"Img. Terrestes","order":2,"width":0,"height":0,"format":"<html>\n<body>\n    <img src=\"https://www.razaoautomovel.com/wp-content/uploads/2021/01/VFCI-bombeiros-voluntarios-de-carvalhos.jpg\"\" style=\"max-width:400px;\" />\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1040,"y":740,"wires":[[]]},{"id":"aa7b5c3f745ec4c1","type":"ui_template","z":"d1f5bd3a265e8adf","group":"7ab8f2acb5e9880a","name":"Img. Aerios","order":3,"width":0,"height":0,"format":"<html>\n<body>\n    <img src=\"https://static-storage.dnoticias.pt/www-assets.dnoticias.pt/images/configuration/OR/fd81dc0f_ki3O0lS.jpg\" style=\"max-width:400px;\" />\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1030,"y":800,"wires":[[]]},{"id":"72a581770c6271aa","type":"function","z":"d1f5bd3a265e8adf","name":"Audio_E_PopUp","func":"var dados = msg.payload;\nvar fogosAtivosAnteriores = flow.get(\"fogosAtivos\") || [];\nvar fogosAtivosAtuais = [];\nvar novosFogos = [];\n\nif (dados.success && Array.isArray(dados.data)) {\n    for (let i = 0; i < dados.data.length; i++) {\n        let fogo = dados.data[i];\n        if (fogo.active && fogo.lat && fogo.lng) {\n            fogosAtivosAtuais.push(fogo.id);\n\n            if (!fogosAtivosAnteriores.includes(fogo.id)) {\n                novosFogos.push(fogo);\n            }\n        }\n    }\n}\nflow.set(\"fogosAtivos\", fogosAtivosAtuais);\nif (novosFogos.length > 0) {\n    let fogoNovo = novosFogos[0];\n    msg.payload = \"Novo fogo em \" + fogoNovo.location;\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":860,"wires":[["25b9d4e564508d8c","692b7a47a8b33b1f","e1c9bb46d4bdbd84"]]},{"id":"e1c9bb46d4bdbd84","type":"debug","z":"d1f5bd3a265e8adf","d":true,"name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":940,"wires":[]},{"id":"cade4bf1d8be3102","type":"debug","z":"d1f5bd3a265e8adf","d":true,"name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":680,"wires":[]},{"id":"4c071d7010254d19","type":"mqtt-broker","name":"Broket IoT turno B","broker":"broker.emqx.io","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4e7423682f55c286","type":"ui_group","name":"Zona1","tab":"54a5441bde30f50b","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"159851649ec99aa5","type":"ui_group","name":"Map","tab":"54a5441bde30f50b","order":2,"disp":true,"width":"22","collapse":true,"className":""},{"id":"babfdf2ecc0584d7","type":"ui_group","name":"Zona2","tab":"54a5441bde30f50b","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"300a85f6c55d70ef","type":"ui_group","name":"Bombeiros","tab":"54a5441bde30f50b","order":4,"disp":true,"width":"7","collapse":false,"className":""},{"id":"de78f6225048cf0a","type":"ui_group","name":"Terrestres","tab":"54a5441bde30f50b","order":5,"disp":true,"width":"7","collapse":false,"className":""},{"id":"7ab8f2acb5e9880a","type":"ui_group","name":"Aerio","tab":"54a5441bde30f50b","order":6,"disp":true,"width":"7","collapse":false,"className":""},{"id":"2a64bff725e86127","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"Projeto","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"54a5441bde30f50b","type":"ui_tab","name":"Projeto","icon":"dashboard","disabled":false,"hidden":false}]